<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="home_lateral" class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
		<ul class="nav nav-list">
            <li class="nav-header">Hoteles</li>
            <li><a href="/hotel/listar">Listar hoteles</a></li>
            <li><a href="/reservahotel/registrar">Reservar hotel</a>
            <li><a href="/reservahotel/listar">Ver reservas</a></li>
        </ul>
        <ul class="nav nav-list">
            <li class="nav-header">Restaurantes</li>
            <li><a href="/restaurante/listar">Listar restaurantes</a></li>
            <li><a href="/reservarest/registrar">Reservar restaurante</a>
            <li><a href="/reservarest/listar">Ver reservas</a></li>
        </ul>
</div><!--/.sidebar-offcanvas-->
</body>
</html>